th{
    color:white;
    background-color: darkslateblue;
    font-weight: bold;
    position: sticky;
    top: 0;
}

input{
    width:6rem;
}  

.data-row-odd{
    background-color: #cdd;
}.data-row-even{
    background-color: #dee;
}